.fa-user-circle {
  display: block;
  width: 100%;
  text-align: center;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
